<div class="section section-basic border border-primary">
    <div class="container">
            <h3 class="title">Wskaż zakres przeszukiwania</h3>
            
            


            <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="Podaj proszę swoję imię..." (focus)="focus=true" (blur)="focus=false" [(ngModel)]="username">
                </div>
            </div>
        <br>
        <br>
          <div class="col-sm-12">
              <nouislider class="slider slider-primary" [connect]="true" [min]="0" [max]="20000" [step]="1" [(ngModel)]="doubleSlider" [tooltips]="true" (change)="valueChange($event)"> </nouislider>
          </div>

          <div class="col-sm-12">
            <div class="btn-group row" data-toggle="buttons">
                <label class="btn btn-primary">
                  <input type="radio" name="saveTo" value="resultsxml" [(ngModel)]="controlerName"/>
                  <span>XML</span>
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="saveTo" value="results" [(ngModel)]="controlerName"/>
                  <span>SQLlite</span>
                </label>
              </div>
          </div>
          

          <button type="submit" class="btn btn-primary" [disabled]="username == ''" (click)="SearchPrimeNumber(content)">
                Wyszukaj liczb
           </button>

      
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ messageTitle }}</h4>
      
    </div>
    <div class="modal-body">
      <p>{{ messageBody }}</p>
      <p><ngb-progressbar [showValue]="true" type="danger" [value]="currentNumber" [max]="maxNumber"></ngb-progressbar></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="CancelCalculation($event)">{{ isCalculating ? 'Anuluj' : 'Zamknij'}}</button>
    </div>

     </ng-template>
<!-- /modal.close('Close click') -->